/*
 * Global Vars
 */

$base-trs-speed: .3s;
$base-trs-function: linear;
$base-trs: $base-trs-speed $base-trs-function;

$main-color: #0cad62;
$alt-color: #e4f6ee;
$danger-color: #ad0c0c;
$warning-color: #ae9e0c;

.re{
	color:#ae0c5a;
}