/*
 * Lists
 */
ul{
	padding-left: 2em;
}
.list--unstyled{
	padding-left: 0;
	list-style: none;
}
.list--dotted,
.list--circled,
.list--squared,
.list--squared-o,
.list--rhombused,
.list--rhombused-o,
.list--arrowed{
	padding-left: 1em;
	list-style: none;
}
.list--circled li:before,
.list--dotted li:before,
.list--squared li:before,
.list--squared-o li:before,
.list--arrowed li:before,
.list--rhombused li:before,
.list--rhombused-o li:before{
	content: '';
	position: relative;
	display: inline-block;
	width: .5em;
	height: .5em;
	border:1px solid black;
	border-radius: 50%;
	margin-right: 1em;
	top: -0.1rem;
	background-color: black;
}
.list--colored li:before{
	border-color: #0cad62;
	background-color: #0cad62;
}
.list--circled li:before,
.list--squared-o li:before,
.list--rhombused-o li:before,
.list--arrowed li:before
{
	background-color: transparent;
}
.list--squared li:before,
.list--squared-o li:before,
.list--rhombused li:before,
.list--rhombused-o li:before,
.list--arrowed li:before{
	border-radius: 0;
}
.list--rhombused li:before,
.list--rhombused-o li:before,
.list--arrowed li:before
{
	@include rotate(45deg);
}
.list--arrowed li:before{
	border-left-color:transparent;
	border-bottom-color: transparent;
	width: .3em;
	height: .3em;
	top: -0.15rem;
}