body{
	font-family: 'PT Sans', sans-serif;
	line-height: 1.399999;
	font-size: 16px;
	margin: 0;
}

*{
	box-sizing: border-box;
}
/*
 * Headings
 */
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	margin-top:1em;
	margin-bottom: 1em;
}
h1{
	font-size: 2em;
	line-height: 1;
}
h2{
	font-size: 1.2em;
	margin-top: 1.7em;
	margin-bottom: .6em;
	color: $main-color;
}
h2 + p{
	margin-top: 0;
}
h3{
	font-size: 1.2em;
	font-weight: bold;
}
/*
 * Subheadings
 */
.sub-heading{
	display: block;
}
h1 + .sub-heading{
	font-size: 1em;
	margin-top: -1.7em;
}
h2 + .sub-heading{
	font-size: .9em;
	margin-top: -1.6em;
}
p{
	margin-bottom: 1em;
}
/*
 * Formatting
 */
pre,plaintext,listing,xmp{
	font-family: monospace;
}
pre{
	display: block;
	color:#111;
	font-size: 14px;
	background-color: #e4f6ee;
	padding: 5px;
	border: 1px solid #ddd;
	overflow-y: auto;
}
.pre--stressed{
	background-color: #e4f6ee;
	border: 1px solid #ddd;
}
code{
	font-size: .8em;
    display: inline-block;
    margin-bottom: 15px;
    background-color: #e4f6ee;
    padding: 3px;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}
a{
	text-decoration: none;
	color: $main-color;
}