/*
 * Global Vars
 */

$base-trs-speed: .3s;
$base-trs-function: linear;
$base-trs: $base-trs-speed $base-trs-function;

$main-color: #34A2D4;
$alt-color: lighten( $main-color, 40% );
$danger-color: #ad0c0c;
$warning-color: #ae9e0c;

.re{
	color:#ae0c5a;
}